<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config/>

   <bean id="myBean1" class="MyBean1" >
       <!--<constructor-arg ref="myBean"/>-->
       <property name="myBean" ref="myBean"/>
   </bean>

    <bean id="myBean" class="MyBean">
        <!--<constructor-arg index="0" ref="myBean1"/>-->
        <!--<constructor-arg  index="1" value="test"/>-->
        <property name="myBean1" ref="myBean1"/>
        <property name="testStr" value="111"/>

    </bean>
</beans>